<router-outlet></router-outlet>
  <div class="position-relative overflow-hidden m-md-3 text-center" style="padding: 6rem;">
    <div class="row">
      <div class="col sm-8" >
        <span class="display-4 fw-normal">{{ title }}</span>
        <p class="display-sm lead fw-normal mt-5">Ce site est destiné aux +16 ans</p>
        <a class="btn btn-outline-secondary" (click)="OuvrirPage('PremierPage')">Accéder au site</a>
      </div>
      <div class="col sm-4">
        <img src="../../assets/logoLCAF.png" alt="logo LCAF" style="height:100%; width: 70%;">
      </div>
    </div>
  </div>

