<div class="container" >
    <h4>Avertisement:</h4>
    <p>La pratique de l'urbex ou la visite de lieu a priori inhabité peut être risqué, toute personne pratiquant cette activité s'expose à d'éventuelles poursuites juridiques. Ce site internet à but informatif permet aux utilisateurs de partager leurs ressentis, leurs preuves du paranormal ou tous simplement leur photo et vidéo d'urbex. Cette pratique est donc à éviter sauf pour les personnes qui sont expertes et qui ont l'approbation des lieus qu'ils visitent. </p>
</div>
<div class="container" style="height: 400px;">
    <div class="row">
        <div class="col">
            <h4>La carte</h4>
        </div>
        <div class="col" style="align-items:flex-start ;height:400px; border-radius:5px" id="map"></div>
        
    </div>
</div>